
body {margin:0;padding:0;}

#dataMap {position:relative;margin:0 auto;width:1024px;height:780px;font-size:12px;background:url(/mygui/faces/javax.faces.resource/images/factoryMap.png) no-repeat left top;z-index: 100;}

#dataMap span {position:absolute;}

/*            #dataMap a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}*/

/*            #dataMap a:hover,#dataMap a:active {color:#f00;background-position:left bottom;}*/

#dataMap a.hotcity {color:#f00;font-weight:700;}

#dataMap em {display:none;}

dataTip {display:none;position:absolute;z-index:99;font-size:12px;padding:0 3px;border:1px solid #000;background-color:#ffc;}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;

    width: 100%;
}       

/*Title*/
#AppTitle{
    width: 220px;
    height: 142px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 19px;
    color: white;
    font-weight: bold;
}

/*圖例*/
#iconExample{
    position: absolute;
    top:650px;
    left: 80px;
    width: 300px;
    height: 30px;
    border:0px;border-color:#FF0000;border-style:solid;
}

/*CarType CSS 車次顯示*/
/*散泥車*/
.carType1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*散泥車-閃爍*/
.carType1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*散泥車-紅底*/
.carType1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*熟料車*/
.carType2 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車-閃爍*/
.carType2a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車-紅底*/
.carType2r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車*/
.carType3 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車-閃爍*/
.carType3a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車-紅底*/
.carType3r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   

/*散泥車(縱向)*/
.carType1_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*散泥車(縱向)-閃爍*/
.carType1_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*散泥車(縱向)-紅底*/
.carType1_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)*/
.carType2_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)-閃爍*/
.carType2_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)-紅底*/
.carType2_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)*/
.carType3_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)-閃爍*/
.carType3_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)-紅底*/
.carType3_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   

/*表格Title*/
.divTitle{
    top:3px;z-index: 10;left: 5px;font-weight: bold;background-color: #C0C0C0
}


/* 熟料車、散泥車、袋泥車 */
.carDiv{
    position: relative;
    width: 196px;
    height: 50%;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}

.carDiv_box{
    position: relative;
    top:0px;
    left:0px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;             
}

/*熟料車 車次顯示*/
#car1CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                         

/*散泥車 車次顯示*/
#car2CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                       

/*袋泥車 車次顯示*/
/*#car3CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                                     */

/* 統計區Div */
#totalSummaryDiv{
    position: absolute;
    top: 184px;
    left: 66px;
    width: 297px;
    height: 350px;
    border:0px;
    border-color:blue;
    border-style:solid;
    border-radius: 5px; 
    font-size: 11px;
}          

.summaryWaitingAreaListHeader{
    background-color: #eee;
    font-weight: lighter;
}

.summaryWaitingAreaColumn1{
    width: 70%;
    text-align: left;
    border-style: solid;
}
.summaryWaitingAreaColumn2{
    width: 30%;
    text-align: right;  
    border-style: solid;
}

#summaryWaitingAreaListData{
    width: 100%;
    height: 100%;
    border:1px;
    border-style: solid;
    border-color: white;
    font-size: 14px;
    background-color: #C0C0C0;
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}                                    

/* 刷新時間 */
#refreshtimeDiv{
    position: relative;
    top: 200px;
    left: 20px;
    width: 257px;
    height: 18px;
    border:1px;
    border-color:black;
    border-style:solid;
    border-radius: 5px; 
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}          

/* 統計表格 */
#summaryTable{
    border:1px;
    border-color:white;
    border-style:solid;
    border-radius: 5px; 
    font-size: 10px;    
    background-color: transparent;
}          

/* 待出廠 */
.toLeaveDiv{
    width: 130px;
    height: 27px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}

.toLeaveDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 90%;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}            

/*待出廠 車次顯示*/
/*#toLeaveCarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料1期 */
.cement1Div{
    position: absolute;
    top:161px;
    left: 422px;
    width: 130px;
    height: 99px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}                  

.cement1Div_box{
    position: relative;
    top:9px;
    left:0px;
    height: 88px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                        

/*熟料1期 車次顯示*/
/*#SL1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料2期 */
.cement2Div{
    position: absolute;
    top:41px;
    left: 429px;
    width: 126px;
    height: 100px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}       

.cement2Div_box{
    position: relative;
    top:9px;
    left:0px;
    height: 89px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                         

/*熟料2期 車次顯示*/
/*#SL2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料裝船等待區 */
.cementWaitingDiv{
    position: absolute;
    top: 302px;
    left: 415px;
    width: 143px;
    height: 73px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}              

.cementWaitingDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 65px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                

/*熟料裝船等待區: 車次顯示*/
/*#cementWaitingShipsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                                    */

/* 散泥裝船等待區 */
.scatterWaitingDiv{
    position: absolute;
    top: 407px;
    left: 415px;
    width: 143px;
    height: 73px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}              

.scatterWaitingDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 65px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

/*熟料裝船等待區: 車次顯示*/
/*#scatterWaitingShipsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/*包裝3期*/
.packing3Div{
    position: absolute;
    top: 40px;
    left: 602px;
    width: 85px;
    height: 139px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}                 

.packing3Div_box{
    position: relative;
    top:6px;
    left:0px;
    height: 131px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                       

/*包裝3期: 車次顯示*/
/*#DN3Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background: url(/mygui/faces/javax.faces.resource/images/icon3_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;z-index: 1;}             */


/* 包裝2期 */
.packing2Div{
    position: absolute;
    top: 40px;
    left: 692px;
    width: 88px;
    height: 139px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}             

.packing2Div_box{
    position: relative;
    top:6px;
    left:0px;
    height: 131px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

/*包裝2期: 車次顯示*/
/*#DN2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background: url(/mygui/faces/javax.faces.resource/images/icon3_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;z-index: 1;}                        */

/* 散泥2期 */
.scatter2Div{
    position: absolute;
    top: 40px;
    left: 785px;
    width: 161px;
    height: 139px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}           

.scatter2Div_box{
    position: relative;
    top:6px;
    left:0px;
    height: 131px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}               

/*散泥2期: 車次顯示*/
/*#SN2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */


/* 散泥1期 */
.scatter1Div{
    position: absolute;
    top: 267px;
    left: 734px;
    width: 148px;
    height: 113px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}               

.scatter1Div_box{
    position: relative;
    top:9px;
    left:0px;
    height: 100px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}        

/*散泥1期: 車次顯示*/
/*#SN1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 裝船區 */
.shipmentDiv{
    position: absolute;
    top: 279px;
    left: 602px;
    width: 85px;
    height: 203px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}               

.shipmentDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 195px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

/*裝船區: 車次顯示*/
/*#YDMTBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 包裝1期 */
.packing1Div{
    position: absolute;
    top: 390px;
    left: 871px;
    width: 125px;
    height: 80px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}               

.packing1Div_box{
    position: relative;
    top:6px;
    left:0px;
    height: 72px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                      

/*包裝1期: 車次顯示*/
/*#DN1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                        */

/*檢斤庫相關表格Title*/
.weighDivTitle{
    top:3px;z-index: 10;left: 22px;font-weight: bold;background-color: transparent;text-align: center;
}            

/*檢斤庫相關表格Title2*/
.weighDivTitle2{
    top:3px;z-index: 10;left: 0px;font-weight: bold;background-color: transparent;text-align: center;right: 20px;
}            


/* 檢斤庫1 */
.weigh1Div{
    position: absolute;
    top: 540px;
    left: 403px;
    width: 60px;
    height: 140px;                
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}           

.weigh1Div_box{
    position: relative;
    top:23px;
    left: 32px;
    width: 20px;
    height: 115px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#weigh1Div_Total{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*檢斤庫1 車次顯示*/
/*#SLK1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 檢斤庫2 */
.weigh2Div{
    position: absolute;
    top: 540px;
    left: 476px;
    width: 60px;
    height: 140px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}       

.weigh2Div_box{
    position: relative;
    top:23px;
    left: 9px;
    width: 20px;                
    height: 115px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#weigh2Div_Total{
    position: relative;
    top:43px;
    left: 35px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                  

/*檢斤庫2 車次顯示*/
/*#SLK2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 檢斤庫3 */
.weigh3Div{
    position: absolute;
    top: 538px;
    left: 635px;
    width: 60px;
    height: 140px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}       

.weigh3Div_box{
    position: relative;
    top:23px;
    left: 9px;
    width: 20px;              
    height: 115px;   
    border: 1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
    color: blue;
}               

#weigh3Div_Total{
    position: relative;
    top:43px;
    left: 35px;
    border: 0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}        

/*檢斤庫3 車次顯示*/
/*#SLK3Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 檢斤庫4 */
.weigh4Div{
    position: absolute;
    top: 538px;
    left: 843px;
    width: 60px;
    height: 140px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;    
}       

.weigh4Div_box{
    position: relative;
    top: 23px;
    left: 32px;
    width: 20px;                           
    height: 115px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#weigh4Div_Total{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}              

/*檢斤庫4 車次顯示*/
/*#SLK4Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 其它通知單 */
.otherDiv{
    position: absolute;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}                   

.otherDiv_box{
    position: relative;
    height: 100%;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

.otherDiv_Total{
    position: relative;
    top:43px;
    left: 0px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}              

/*其它通知單 車次顯示*/
/*#otherCarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/*合計相關表格Title*/
.totalDivTitle{
    top:3px;z-index: 10;left: 20px;font-weight: bold;background-color: transparent;text-align: center;
    font-size: 14px;
}            

/* 在廠船數合計 */
#inFactoryShipTotalDiv{
    width: 130px;
    height: 47px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}          

/*在廠船數合計*/
.inFactoryShipTotalDiv_box{
    position: relative;
    top:23px;
    left:0px;
    height: 39px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
    border-color: white;
    background-color: blue;
    text-align: right;
}                      

/* 今日出貨合計 */
#todayShipTotalDiv{
    width: 120px;
    height: 47px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}                

.todayShipTotalDiv_box{
    position: relative;
    top:23px;
    left:0px;
    height: 39px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
    border-color: white;
    background-color: blue;     
    text-align: right;
}                 

#tooltip {
    border: 1px solid #CCC;
    background-color: #FFF;
    opacity: 0.90;
    padding: 5px;
    font-family: Arial;
    font-weight: normal;
    font-size: 70%;
    min-width: 90px;
    max-width: 130px;
}        

.datatable_header{
    border: none;
    background: transparent;
    background-image: none;

}            
.datatable_data{
    border: none;
    background: transparent;
    background-image: none;
    background-color: #ccc;
}            

.summary-table-header{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:3px;                
}

.summary-table-row{
    text-align:left;
    background:none repeat scroll 0 0 #FFFFFFF;
    border-top:1px solid #BBBBBB;
    font-size: 12px;
    border: 10px;
    border-style: solid;
    border-color: white;
}

.summary-table-column1{
    text-align:left;
    width:140px;
}            
.summary-table-column2{
    text-align:center;
    width:60px;
}            
.summary-table-column3{
    text-align:center;
    width:60px;
}            
.summary-table-column4{
    text-align:right;
    width:100px;                
}   


.Area{
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}

.AreaTitle {
    top:3px;
    z-index: 10;
    left: 5px;
    font-weight: bold;
    background-color: #C0C0C0;    
}

.AreaStats {
    top:0px;
    z-index: 9;
    left: 20px;
    font-weight: bold;
    background-color: #C0C0C0;
    font-size: 14px;
    color: blue;
    text-align: right;
    display: inline-block;
    width: 40px;
}

.AreaCars{
    position: relative;
    top:6px;
    left:0px;
    height: 100%;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}

/*.AreaCarsSN_V  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            
.AreaCarsSN_H  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */