body {margin:0;padding:0;}

#dataMap {position:relative;margin:0 auto;width:1024px;height:680px;font-size:12px;background:url(/mygui/faces/javax.faces.resource/images/factoryMap_jr.png) no-repeat left top;z-index: 100;}

#dataMap span {position:absolute;}

/*            #dataMap a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}*/

/*            #dataMap a:hover,#dataMap a:active {color:#f00;background-position:left bottom;}*/

#dataMap a.hotcity {color:#f00;font-weight:700;}

#dataMap em {display:none;}

dataTip {display:none;position:absolute;z-index:99;font-size:12px;padding:0 3px;border:1px solid #000;background-color:#ffc;}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

/*Title*/
#AppTitle{
    position: absolute;
    top:10px;
    left: 300px;
    width: 220px;
    height: 142px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 19px;
    color: white;
    font-weight: bold;
}

/*圖例*/
#iconExample{
   position: absolute;
    top:650px;
    left: 500px;
    width: 500px;
    height: 30px;
    border:0px;border-color:#FF0000;border-style:solid;
}

/*CarType CSS 車次顯示*/
/*散泥車*/
.carType1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*散泥車-閃爍*/
.carType1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*散泥車-紅底*/
.carType1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                  
/*熟料車*/
.carType2 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車-閃爍*/
.carType2a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車-紅底*/
.carType2r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車*/
.carType3 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車-閃爍*/
.carType3a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車-紅底*/
.carType3r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   

/*散泥車(縱向)*/
.carType1_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*散泥車(縱向)-閃爍*/
.carType1_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*散泥車(縱向)-紅底*/
.carType1_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)*/
.carType2_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)-閃爍*/
.carType2_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*熟料車(縱向)-紅底*/
.carType2_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)*/
.carType3_1 {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)-閃爍*/
.carType3_1a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1a.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   
/*袋泥車(縱向)-紅底*/
.carType3_1r {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3_1r.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}   

/*表格Title*/
.divTitle{
    top:3px;z-index: 10;left: 5px;font-weight: bold;background-color: #C0C0C0
}
.divTitle2{
    font-size: 10px;background-color: #C0C0C0;font-weight: bold
}

/* 熟料車、散泥車、袋泥車 */
.carDiv{
    position: absolute;
    top: 33px;
    left: 652px;
    width: 180px;
    height: 142px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}

.carDiv_box{
    position: relative;
    top:11px;
    left:0px;
    height: 32px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;             
}
/*
熟料車 車次顯示
#car1CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                        

散泥車 車次顯示
#car2CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                       

袋泥車 車次顯示
#car3CarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            
*/
/* 熟料船運等待區、散泥船運等待區 */
.shipDiv{
    position: absolute;
    top: 33px;
    left: 440px;
    width: 170px;
    height: 120px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}

.shipDiv_box{
    position: relative;
    top:10px;
    left: 0px;
    height: 50px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;             
}

/*熟料車 車次顯示*/
/*.shipsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                         */

/* 統計區Div */
#totalSummaryDiv{
    position: absolute;
    top: 184px;
    left: 66px;
    width: 297px;
    height: 100px;
    border: 0px;
    border-color:blue;
    border-style:solid;
    border-radius: 5px; 
    font-size: 11px;
}          

#summaryWaitingAreaListData{
    position: absolute;
    top: 158px;
    left: 655px;
    width:190px;
    border:1px;
    border-style: solid;
    border-color: white;
    font-size: 14px;
    background-color: #C0C0C0;
    margin: 0px;
    padding: 0px;
    font-weight: lighter;
}                                    


/* 統計區塊 */
#summaryBlock{
    position: absolute;
    top: 320px;
    left: 655px;
    width: 277px;
    height: 200px;
    border: 0px;
    border-color:red;
    border-style:solid;
    border-radius: 5px; 
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}       

/* 刷新時間 */
#refreshtimeDiv{
    position: absolute;
    top: 0px;
    left: 15px;
    width: 257px;
    height: 18px;
    border: 1px;
    border-color:black;
    border-style:solid;
    border-radius: 5px; 
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}          

/* 統計表格 */
#summaryTable{
    position: relative;
    top: 25px;
    left: 0px;
    width: 300px;    
    border:1px;
    border-color:white;
    border-style:solid;
    border-radius: 5px; 
    font-size: 10px;    
    background-color: transparent;
}          

/*合計相關表格Title*/
.totalDivTitle{
    top:3px;z-index: 10;left: 20px;font-weight: bold;background-color: transparent;text-align: center;
    font-size: 14px;
}            

/* 在廠船數合計 */
#inFactoryShipTotalDiv{
    position: relative;
    top: 50px;
    left: 8px;
    width: 130px;
    height: 47px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}          

/*在廠船數合計*/
#inFactoryShipTotalDiv_box{
    position: relative;
    top:23px;
    left:0px;
    height: 39px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
    border-color: white;
    background-color: blue;
    text-align: right;
}                      

/* 今日出貨合計 */
#todayShipTotalDiv{
    position: relative;
    top: 0px;
    left: 160px;
    width: 130px;
    height: 47px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}                

#todayShipTotalDiv_box{
    position: relative;
    top:23px;
    left:0px;
    height: 39px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
    border-color: white;
    background-color: blue;     
    text-align: right;
}                 


/* 待出廠 */
#toLeaveDiv{
    position: absolute;
    top: 75px;
    left: 850px;
    width: 160px;
    height: 38px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}

.toLeaveDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 36px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}            

/*待出廠 車次顯示*/
/*#toLeaveCarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料1期 */
#cement1Div{
    position: absolute;
    top: 185px;
    left: 505px;
    width: 140px;
    height: 35px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}                  

#cement1Div_box{
    position: relative;
    top:7px;
    left:0px;
    height: 25px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    font-size: 11px;
}                        

/*熟料1期 車次顯示*/
/*#SL1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料2期 */
#cement2Div{
    position: absolute;
    top:399px;
    left: 505px;
    width: 140px;
    height: 35px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}       

#cement2Div_box{
    position: relative;
    top:9px;
    left:0px;
    height: 25px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    font-size: 11px;
}                         

/*熟料2期 車次顯示*/
/*#SL2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 袋裝 */
#pkDiv{
    position: absolute;
    top:148px;
    left:395px;
    width: 120px;
    height: 35px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}       

#pkDiv_box{
    position: relative;
    top:9px;
    left:0px;
    height: 25px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    font-size: 11px;
}                         

/*袋裝 車次顯示*/
/*#pkBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */

/* 熟料裝船等待區 */
.cementWaitingDiv{
    position: absolute;
    top: 302px;
    left: 415px;
    width: 143px;
    height: 73px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}              

.cementWaitingDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 65px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                

/*熟料裝船等待區: 車次顯示*/
/*#cementWaitingShipsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                                    */

/* 散泥裝船等待區 */
.scatterWaitingDiv{
    position: absolute;
    top: 407px;
    left: 415px;
    width: 143px;
    height: 73px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}              

.scatterWaitingDiv_box{
    position: relative;
    top:6px;
    left:0px;
    height: 65px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

/*熟料裝船等待區: 車次顯示*/
/*#scatterWaitingShipsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 散泥1期 */
.scatter1Div{
    position: absolute;
    top: 148px;
    left: 343px;
    width: 50px;
    height: 115px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}               

.scatter1Div_box{
    position: relative;
    top:14px;
    left:0px;
    height: 150px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    font-size: 11px;
}        

/*散泥1期: 車次顯示*/
/*.scatter1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}    */


/* 太空包1 */
.TKDiv{
    position: absolute;
    top: 148px;
    left: 300px;
    width: 50px;
    height: 115px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    font-size: 11px;
}               

.TKDiv_box{
    position: relative;
    top:14px;
    left:14px;
    width: 20px;
    height: 150px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    font-size: 11px;
}        

/*太空包: 車次顯示*/
/*.TKBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}    */

/* 散泥2期 */
#scatter2Div{
    position: absolute;
    top: 402px;
    left: 350px;
    width: 145px;
    height: 80px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}           

#scatter2Div_box{
    position: relative;
    top:9px;
    left:0px;
    height: 72px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}               

/*散泥2期: 車次顯示*/
/*#SN2Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}            */



/* 包裝1期 */
#packing1Div{
    position: absolute;
    top: 415px;
    left: 500px;
    width: 140px;
    height: 80px;
    border:0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}               

#packing1Div_box{
    position: relative;
    top:6px;
    left:0px;
    height: 72px;
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                      

/*包裝1期: 車次顯示*/
/*#DN1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon3.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                        */

/*檢斤庫相關表格Title*/
.weighDivTitle{
    top:0px;z-index: 10;left: 22px;font-weight: bold;background-color: transparent;text-align: center;
}            


/* 檢斤庫 */
#weigh1Div{
    position: absolute;
    top: 83px;
    left: 9px;
    width: 160px;
    height: 50px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}           

#weigh1Div_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 45px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#weigh1Div_Total{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*檢斤庫1 車次顯示*/
/*#SLK1Block  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */

/* 1#大裝船機 */
#ADiv{
    position: absolute;
    top: 161px;
    left: 8px;
    width: 160px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}           

#AShipDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    font-size: 11px;
}                 

.MShipTotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}              

/* 2#大裝船機 */
#MDiv{
    position: absolute;
    top: 389px;
    left: 8px;
    width: 160px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    font-size: 11px;                
}           

#MShipDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    font-size: 11px;
}        

/*大裝船機 船次顯示*/
/*.MBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */


/* 1#小裝船機 */
#CDiv{
    position: absolute;
    top: 342px;
    left: 7px;
    width: 160px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}           

#CShipDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#CShipTotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*小裝船機 船次顯示*/
/*.CBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */


/* 2#小裝船機 */
#XDiv{
    position: absolute;
    top: 12px;
    left: 127px;
    width: 160px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;                
}           

#XShipDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#XShipTotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 


/* 太空包倉庫 */
#AADiv{
    position: absolute;
    top: 586px;
    left: 258px;
    width: 170px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    font-size: 11px;                
}           

#AADiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    font-size: 11px;
}                 

#AATotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*太空包倉庫 顯示*/
/*#AABlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}         */


/* 熟料倉庫 */
#BBDiv{
    position: absolute;
    top: 627px;
    left: 258px;
    width: 215px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    font-size: 11px;                
}           

#BBDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    font-size: 11px;
}                 

#BBTotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*熟料倉庫 顯示*/
/*#BBBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}         */

/* 袋裝倉庫 */
#CCDiv{
    position: absolute;
    top: 627px;
    left: 258px;
    width: 215px;
    height: 30px;                
    border: 0px;
    border-color:red;
    border-style:solid;
    font-size: 11px;                
}           

#CCDiv_box{
    position: relative;
    top: 9px;
    left: 0px;
    height: 25px;                
    border:1px;
    border-color: #000000;
    border-style:solid;
    font-size: 11px;
}                 

#CCTotal{
    position: relative;
    top:43px;
    left: 1px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}                 

/*熟料倉庫 顯示*/
/*#CCBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}       */

/* 其它通知單 */
#otherDiv{
    position: absolute;
    top: 528px;
    left: 50px;
    width: 80px;
    height: 140px;
    border: 0px;
    border-color:#FF0000;
    border-style:solid;
    border-radius: 5px;    
    font-size: 11px;
}                   

#otherDiv_box{
    position: relative;
    top:28px;
    left:28px;
    width: 40px;                           
    height: 115px;   
    border:1px;
    border-color:#000000;
    border-style:solid;
    border-radius: 5px;   
    font-size: 11px;
}                 

#otherDiv_Total{
    position: relative;
    top:43px;
    left: 0px;
    border:0px;
    border-color:#000000;
    border-style:solid;
    font-size: 14px;
    text-align: right;
    color: blue;
}              

/*其它通知單 車次顯示*/
/*#otherCarsBlock  a {display:block;padding-left:20px;line-height:1.8;text-decoration:none;color:#000;background:url(/mygui/faces/javax.faces.resource/images/icon2_1.gif) no-repeat;border:0px;border-color:#FF0000;background-position:center center;border-style:solid;}                              */



#tooltip {
    border: 1px solid #CCC;
    background-color: #FFF;
    opacity: 0.90;
    padding: 5px;
    font-family: Arial;
    font-weight: normal;
    font-size: 70%;
    min-width: 90px;
    max-width: 130px;
}        