/*
*

*/
.page {   
 width: 100%;
 font-size: 14px;
}
.first-row{
    border: none;
    background: #78b9e6 !important;
    color:#000 !important;
    vertical-align: middle;    
}
.second-row{
    border: none;
    background: #FFF !important;
    color:#000 !important;
    vertical-align: middle;
}
/*.ui-datatable .ui-paginator, .ui-datatable .ui-paginato{
    vertical-align: middle !important;
}*/
/*.ui-radiobutton{
    margin: 3px 0;
    width: 16px;
    line-height: 16px;
    display:inline-block;
    vertical-align: bottom !important;
}*/