/*
*
*/
.page {   
 width: 100%;
 font-size: 14px;
 margin: 0 auto;
 /*margin-left: 10%;*/
 /*margin-right: 10%;*/
}
.header{
     width: 95%;
     font-size: 12px;
/*     margin-left: 10%;*/
 /*margin-right: 10%;*/
 margin: 0 auto;
}
body {            
    /*line-height: 1.5em;*/  
    background: #FFFFFF;
     
}
.ui-widget {
    font-size: 10px;
}
table{
    font-size: 10px;
}
.ui-panelgrid td {
    vertical-align: middle !important;    
}
/*.ui-picklist .ui-picklist-list {    
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    vertical-align: middle;  
    width: 300px !important;
    height: 150px !important;   
    font-size: 12px;    
}
.ui-picklist-item {
    vertical-align: top;
}*/
td{
    vertical-align: middle !important;
}
.classclose .fc-event-skin{
    background: #073642;
}